#container {
  background-color: darkturquoise;
  border: 1px solid black;
  width: 80%;
  height: 800px;
  margin: 40px;
  float: left;
  display: inline-block;
}
#list {
  float: right;
  display: inline-block;

  width: 10%;
  border: 1px solid black;
  height: 100px;
  background-color: firebrick;
  color: white;
}